<% provide(:title, "#{@user.full_name} - Declare Housing Intent") %>
<h1><%= @user.full_name %> - Declare Housing Intent</h1>
<%= simple_form_for @user, url: update_intent_user_path(@user) do |f| %>
  <%= f.input :intent, collection: User.intents.keys %>
  <%= f.submit 'Submit Intent' %>
<% end %>
<%= link_to 'Cancel', user_path(@user) %>
