<% provide(:title, 'Add User') %>
<h1>Add User</h1>
<%= simple_form_for @user do |f| %>
  <%= profile_field(form: f, user: @user, field: :email) %>
  <% unless @user&.username&.empty? %>
    <%= f.input :username, disabled: true %>
    <%= f.input :username, as: :hidden %>
  <% end %>
  <%= profile_field(form: f, user: @user, field: :first_name) %>
  <%= profile_field(form: f, user: @user, field: :last_name) %>
  <%= profile_field(form: f, user: @user, field: :class_year) %>
  <%= profile_field(form: f, user: @user, field: :college) %>
  <%= f.input :role, collection: User.roles.keys %>
  <%= f.submit %>
<% end %>
<%= link_to 'Cancel', users_path %>
