<% provide(:title, "#{@draw.name} - Intent Report" ) %>
<h1 class="draw-name"><%= @draw.name %> - Intent Report</h1>
<div class="intent-report">
  <p>You can view and update the intents of the students in this draw below. Note that selecting a different option in the dropdown menu will <em>immediately</em> change that student's intent.</p>
  <hr />
  <div class="report_filter">
    <h3>Filter students</h3>
    <%= simple_form_for @filter, url: intent_report_draw_path(@draw) do |f| %>
      <%= f.input :intents, collection: User.intents.keys, label_method: :humanize, as: :check_boxes,
        include_hidden: false, error: false %>
      <%= f.submit 'Filter' %>
    <% end %>
  </div>
  <hr />
  <% if @students_by_intent.empty? %>
    <p>There are no students in this draw yet!</p>
  <% else %>
    <% @intent_metrics.each do |intent, count| %>
      <h3><%= intent.humanize %> (<%= pluralize(count, 'student') %>)</h3>
      <table>
        <thead>
          <tr>
            <td>Last Name</td>
            <td>First Name</td>
            <td>Intent</td>
          </tr>
        </thead>
        <tbody>
          <% @students_by_intent[intent].each do |student| %>
            <tr class="<%= student.intent %>">
              <td data-role="student-last_name"><%= student.last_name %></td>
              <td data-role="student-first_name"><%= student.first_name %></td>
              <% if policy(student).update_intent? %>
                <td class="intent-form" id="intent-form-<%= student.id %>" data-role="student-intent"><%= render 'intent_form', user: student %></td>
              <% else %>
                <td data-role="student-intent"><%= student.intent.humanize %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
</div>
<%= link_to 'Return to draw', draw_path(@draw) %>
